version: '3.3'

services:
  postgres:
    image: postgres:10
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - database_data:/var/lib/postgresql/data

  web:
    build: .
    command: bundle exec hanami server
    environment:
      HANAMI_HOST: ${HANAMI_HOST}
      HANAMI_ENV: ${HANAMI_ENV}
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - '2300:2300'
    depends_on:
      - postgres
    links:
      - postgres

volumes:
  database_data:
    driver: local
